.form-control {
    font-weight: normal;
}
.form-login{
    padding: 0 5px;
}
.form-login .form-control{
    margin: 5px 0;
}
.form-login button,
.admin-menu .btn{
    width: 100%;
}
.admin-menu .row{
    margin: 5px 0;
}
.admin-main-page-link{
    text-align: left;
}

.redact-form .imgs-form button {
    margin-left:10px;
    padding:30px;
}
.redact-form .imgs-form .img-link {
    margin-left:10px;
}

.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-link {

}
.img-link img{
    width: 100%;
}
.redact-form .imgs-form img {
    min-height: 70px;
}

.right-content {
    padding-left: 20px;
    padding-top: 20px;
}

.btn-row {
    margin: 5px 0;
}