html {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url('/public/i/bg.png');
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    font-family: 'Calibri', sans-serif;
    background: none;
    min-height: 100%;
}

.header {
    height: 170px;
    width: 100%;
    margin: 20px 0;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
}

.header-container {
    padding: 0 60px;
    text-align: center;
}

.header-title {
    color: #ff2228;
}

.header-links {
    color: #0073ad;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 2px solid #0073ad;
}

.header-point {
    padding: 0 20px;
    color: #ff2228;
}

.header-contacts {
    text-align: center;
    color: #434343;
    font-size: 11px;
    width: 50%;
    margin: 10px auto;
}

.header-contacts p {
    padding: 0;
    margin: 0;
}

.menu {
    padding: 0;
}

.menu-item {
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    text-align: center;
    padding: 10px 2px;
    margin-bottom: 10px;
    display: block;
}

.menu-item.active {
    background-image: url('/public/i/menu_item_active_bg.png');
}

.menu-item,
.menu-item:hover,
.menu-item:visited {
    color: #ff2228;
    text-decoration: none;
}

.portfolio-menu {
    margin-top: 20px;
}

.portfolio-menu-item {
    text-transform: lowercase;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    text-align: center;
    padding: 5px 1px;
    margin-bottom: 5px;
    display: block;
}

.portfolio-menu-item.active {
    background-image: url('/public/i/menu_item_active_bg.png');
}

.portfolio-menu-item,
.portfolio-menu-item:hover,
.portfolio-menu-item:visited {
    color: #0073ad;
    text-decoration: none;
}

.news {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    padding: 5px;
    font-size: 11px;
}

.news-title {
    color: #ff1f25;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    text-align: center;
    padding: 10px 2px;
}

.news-date {
    margin-bottom: 10px;
}

.news-content {
    margin-bottom: 30px;
}

.hit {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    min-height: 400px;
    text-align: center;
    padding: 5px;
}

.hit-title {
    font-size: 18px;
    font-weight: bolder;
    color: #0073ad;
    width: 60%;
    margin: 20px auto;
    min-height: 75px;
}

.hit-content {
    min-height: 165px;
}

.hit-img {
    padding: 5px;
}

.hit-img img {
    width: 100%;
    height: 100px;
}

.page {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    min-height: 400px;
    text-align: center;
    padding: 5px;
}

.page-title {
    font-size: 18px;
    font-weight: bolder;
    color: #0073ad;
    width: 60%;
    margin: 20px auto;
    min-height: 25px;
    text-transform: uppercase;
}

.page-content {
    min-height: 165px;
}

.scope-img {
    padding: 10px;
}

.scope-img img {
    width: 100%;
    padding: 3px;
    background-color: #747575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.footer {
    width: 100%;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    padding: 10px 0;
    height: 150px;
    margin-top: 20px;
}

.footer-container {
    margin: auto;
    float: none;
}

.footer-container img {
    height: 130px;
    padding: 2px;
    background-color: #747575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.logo {
    float: right;
    height: 150px;
    margin-top: 10px;
}

.no-padding {
    padding: 0;
}