html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-image: url('/public/i/bg.png');
    background-position: top center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    font-family: 'Century Gothic', sans-serif;
    background: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    display: table;
    height: 175px;
    width: 100%;
    margin: 20px 0;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
}

.header-container {
    padding: 0 20px;
    text-align: center;
    margin: auto;
}

.header-title {
    margin-top: 5px;
    color: #ff2228;
    text-shadow: 1px 1px 2px #424242;
    letter-spacing: 10px;
    font-size: 38px;
}

.header-links,
.header-links a,
.header-links a:hover,
.header-links a:visited {
    color: #0073ad;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    font-size: 12px;
}

.header-links {
    border-bottom: 2px solid #0073ad;
}

.header-point {
    color: #ff2228;
}

@media (max-width: 3000px) {
    .header-point {
        padding: 0 7px;
    }

    .header-container {
        width: 590px;
    }
}

@media (max-width: 1200px) {
    .header-point {
        padding: 0 4px;
    }

    .header-container {
        width: 650px;
    }
}

@media (max-width: 992px) {
    .header-point {
        padding: 0 2px;
    }

    .header-container {
        width: 650px;
    }

}

.header-top {
    color: #0073ad;
    font-size: 12px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: bolder;
}

.header-contacts {
    text-align: center;
    color: #434343;
    font-size: 12px;
    margin: 10px auto;
}

.header-contacts p {
    padding: 0;
    margin: 0;
}

.content {
    min-height: 500px;
    display: table;
}

.menu {
    padding: 0;
}

.menu-item {
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    text-align: center;
    padding: 10px 2px;
    margin-bottom: 10px;
    display: block;
}

.menu-item.active {
    background-image: url('/public/i/menu_item_active_bg.png');
}

.menu-item,
.menu-item:hover,
.menu-item:visited,
#portfolio a,
#portfolio a:hover,
#portfolio a:visited,
#scope a,
#scope a:hover,
#scope a:visited {
    color: #ff2228;
    text-decoration: none;
}

.portfolio-menu,
.scope-menu {
    margin: 20px 0;
}

.portfolio-menu-item,
.scope-menu-item {
    text-transform: lowercase;
    font-size: 10px;
    font-weight: bolder;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    text-align: center;
    padding: 5px 1px;
    margin-bottom: 5px;
    display: block;
}

.portfolio-menu-item.active,
.scope-menu-item.active {
    background-image: url('/public/i/menu_item_active_bg.png');
}

.portfolio-menu-item,
.portfolio-menu-item:hover,
.portfolio-menu-item:visited,
.scope-menu-item,
.scope-menu-item:hover,
.scope-menu-item:visited {
    color: #0073ad;
    text-decoration: none;
}

.news {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    padding: 5px;
    font-size: 9px;
    min-height: 500px;
}

.news-title {
    color: #ff1f25;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 1px black;
    font-weight: bolder;
    text-align: center;
    padding: 10px 2px;
}

.news-date {
    margin-bottom: 10px;
}

.news-content {
    margin-bottom: 10px;
}

.news-link {
    display: block;
    margin-top: 10px;
}

.hit {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    height: 500px;
overflow-y: auto;
    text-align: center;
    padding: 5px;
}

.hit-title {
    font-size: 18px;
    font-weight: bolder;
    color: #0073ad;
    width: 60%;
    margin: 20px auto;
    min-height: 75px;
}

.hit-content {
    min-height: 165px;
    padding: 5px 20px;
}

.hit-img {
    padding: 5px;
}

.hit-img img {
    width: 100%;
    height: 100px;
}

.page {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    color: #434343;
    height: 500px;
overflow-y: auto;
    text-align: center;
    padding: 5px;
}

.page-title {
    font-size: 18px;
    font-weight: bolder;
    color: #0073ad;
    width: 60%;
    margin: 20px auto;
    min-height: 25px;
    text-transform: uppercase;
}

.page-content {
    min-height: 165px;
    padding: 5px 20px;
}

.scope-img {
    padding: 10px;
}

.scope-img img {
    width: 100%;
    padding: 3px;
    background-color: #747575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.footer {
    display: table;
    width: 100%;
    background-image: url('/public/i/menu_item_bg.png');
    background-repeat: repeat;
    padding: 10px 0;
    height: 150px;
    margin: 20px 0;
}

.footer-container {
    margin: auto;
    float: none;
}

.footer-container img {
    height: 130px;
    padding: 2px;
    background-color: #747575;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.logo {
    height: 150px;
    margin-top: 10px;
}

.no-padding {
    padding: 0;
}

#wrapper {
    min-height: 100%;
}
